node_modules/
**/node_modules/

.env
.env.*
!.env.example
!.env.production.example
**/.env
**/.env.*
!**/.env.example
!**/.env.production.example

dist/
**/dist/

.vite/
coverage/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
